/*시민과 뭐시기 폰트 다운받아와서 쓰려는데 안되넹..*/
@font-face{
    font-family: 'SAM';
    src: url(./SAM.ttf) format('truetype');
}

html,body{
    height: 100%;
	width : 100%
}

/*네이게이션 동그라미 색상 바꾸기*/
#fp-nav ul li a span{
    background-color: rgb(255, 255, 255);
}


/*page_1 start*/
.page_1{
    overflow : hidden;
}

.seperate_3{
	width : 33.333333%;
	height : 100%;
	float : left;
}

.morning{
    background: #8cb8e7;
    background: -moz-linear-gradient(top,  #8cb8e7 0%, #dcb2ce 33%, #b69cd3 66%, #e3dae5 100%);
    background: -webkit-linear-gradient(top,  #8cb8e7 0%,#dcb2ce 33%,#b69cd3 66%,#e3dae5 100%);
    background: linear-gradient(to bottom,  #8cb8e7 0%,#dcb2ce 33%,#b69cd3 66%,#e3dae5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cb8e7', endColorstr='#e3dae5',GradientType=0 ); 

}

.afternoon{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#85b4ea+0,aecee5+33,8ab6f7+66,aed4f2+100 */
    background: #85b4ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #85b4ea 0%, #aecee5 33%, #8ab6f7 66%, #aed4f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #85b4ea 0%,#aecee5 33%,#8ab6f7 66%,#aed4f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #85b4ea 0%,#aecee5 33%,#8ab6f7 66%,#aed4f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b4ea', endColorstr='#aed4f2',GradientType=0 ); /* IE6-9 */

}

.night{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#02101e+0,662430+78,ad613a+100 */
    background: #02101e; /* Old browsers */
    background: -moz-linear-gradient(top,  #02101e 35%, #662430 78%, #ad613a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #02101e 35%,#662430 78%,#ad613a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #02101e 35%,#662430 78%,#ad613a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02101e', endColorstr='#ad613a',GradientType=0 ); /* IE6-9 */

}

.titile{
    position: relative;
}

.maintitle{
    font-family: 'Quicksand', sans-serif;
    
    /*글자 정가운데 배치*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(252, 240, 222);
    font-size: 4.5em;
    vertical-align: middle;
    width: 40%;
    text-align: center;
    letter-spacing: 0.1em;

    padding: 0.4em;
    border: beige 0.2em solid;

    text-shadow: 0px 0.03em #cde0f881, 0.05em 0.05em 5px #b3d0fc70;

}

.subtitle{
    font-family: 'SAM','Nanum Pen Script', serif;
    position: absolute;
    letter-spacing: 0.1em;
    font-size: 3.5em;
    font-weight: 100;
    color: rgb(252, 240, 222);
    padding: 0.2em;
    border-bottom: beige 0.1em solid;
}

.sidetitle{
    font-family: 'SAM','Nanum Pen Script', serif;
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 3.0em;
    font-weight: 100;
    color: rgb(252, 240, 222);
}

.lt_middown{
    bottom: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lt_left{
    transform: translate(-50%,-50%);
    left: 15%;
    top: 50%;
}

.lt_right{
    transform: translate(-50%,-50%);
    right: 15%;
    top: 50%;
}
/*page_1 end*/

/*page_2 start*/

.page_2{
    background-color: #c5b5d8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.header{

}


.header .sidetitle{
    position: static;
    float: left;
    margin: 3%;
    margin-right: 6%;

}

.bordertitle{
    border: rgb(243, 243, 238) 5px solid;
    padding: 10px;
}

.contenttitle{
    top: 5%;
    left: 3%;
}

.contentbox{
    margin: 3% auto;
    float: left;
    width: 85%;
    height: 85%;
    border: #662430 1px solid;
}

.bg_img{
    position: absolute;
    width: 300px;
    left: 1%;
    bottom: 5%;
}

.l_row img{
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
}

.content{
    margin: 0 auto;
    width: 450px;
    height: 79px;
    transition: all 0.5s;
    color: #c5b5d8;
}

.content h1{
    font-family: 'SAM','Nanum Pen Script', serif;
    font-size: 3.0em;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px beige solid;
    color: #e3dae5;
}

.content p{
    padding: 5px;
    font-family: 'SAM','Nanum Pen Script', serif;
    font-size: 1.5em;
    font-weight: 100;
    
}

.l_row .l_grid img:hover + .content{
    margin: 0 auto;
    width: 450px;
    height: 500px;
    background-color: #8cb8e7;
    color: #e3dae5;
    border-radius: 0 0 10px 10px;
}

.l_row img:hover{
    border-radius: 10px 10px 0 0 ;
}

/*page2 end*/
/*page3 start*/

.page_3{
    background-color: #a1bcd3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.instabox{
    background-color: rgb(252, 244, 244);
    width: 355px;
    height: 515px;
    overflow: hidden;
}

.instatop{
    overflow: hidden;
    margin: 20px;
    margin-bottom: 10px;
}

.instatop img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
}

.instatop .instaid{
    color: rgb(36, 34, 34);
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    margin-left: 15px;
    float: left;
}

.dotdot{
    color: rgb(36, 34, 34);
    font-size: 25px;
    line-height: 30px;
    height: 30px;
    float: right;
    
}

.instaimg{

}

.instaimg img{
    display: block;
    margin: 0 auto;
    width: 315px;
    height: 315px;
}

.instatapbar{
    width: 315px;
    height: 25px;
    margin: 10px auto;
    overflow: hidden;
}

.instatapbar img{
    height: 25px;
}

.instatapbar .navdot{
   height: 22px;
   line-height: 25px;
}

.save{
    float: right;
}

.instacontent{
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    width: 315px;
    height: 80px;
    overflow: hidden;
}

.views{
    font-size: 14px;
    font-weight: bold;
}

.secprofile{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    margin-right: 12px;
}

.realcontent p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size : 12.5px;
    display: inline;

}