html,body{
    height: 100%;
	width : 100%
}
.container{
    height: 100%;
}
.page{
    /*임시로 화면 꽉채우는 법을 몰라서 걍 크게 픽셀넣음*/
    height: 100%;
	width: 100%;

    background-color: rgb(61, 61, 61);

    font-family: 'Nanum Pen Script', cursive;
	
	overflow : hidden;

    position: relative;
}

.section3{
	width : 33.333333%;
	height : 100%;
	float : left;
}

.morning{
	background-color : red;
}

.afternoon{
	background-color : orange;
}

.night{
	background-color : blue;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: rgb(252, 240, 222);
    font-size: 8em;
    vertical-align: middle;
    font-weight: 100;
}

.subtitle{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);


    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 3em;
    font-weight: 100;
    color: rgb(252, 240, 222);
}

.asdf{
    background-color: aquamarine;
}